html,body,div,ul,li,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

.clearfix:after{
  content: ""; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
  }

select{
  -webkit-appearance:none;
  appearance:none;
}